* {
  font-family: "El Messiri";
}

html {
  scroll-behavior: smooth;
}

/* header section style */
.main-page-header {
  height: 20vh;
}

.main-page-header img {
  max-height: 120px;
  max-width: 100%;
  object-fit: cover;
}

.main-page-header .container,
.main-page-header .row {
  height: 100%;
}

/* main page section */
.control-section-main-page {
  background-color: #ffeada;
  background-image: url("../img/bg.jpg");
  height: calc(100vh - 20vh - 40px);
}

.control-section-main-page .link-control-container {
  max-width: 60%;
}

.control-section-main-page .info-popup-toggler {
  position: absolute;
  left: 0;
  top: 0;
}

.modal button.close {
  background-color: transparent;
  border: none;
}

@media (max-width: 767.98px) {
  .main-page-header {
    height: auto;
  }

  .control-section-main-page {
    height: auto;
  }
}

@media (min-width: 720px) and (max-width: 985px) {
  .link-control-container {
    max-width: 30% !important;
  }
}
